<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>
<body>
    <button type="button" onclick="window.location.href='/'">Back</button><br>

     <div class="data">
        {{ range .}}
        <a href="/profil?id={{ .ID }}">
            <div>
                <img src="{{.Image}}" alt="{{ .Name}}" class="Image"><br>
                <span class="name">{{ .Name }}</span><br>
                <span class="FirstAlbum">{{ .Type}}</span>
            </div>
        </a>
        {{ end }}
    </div>

</body>
<script>
    
</script>

</html>